desktop.ini
/.vs
/.vscode
/.cache.json
/__pycache__

Controller/__pycache__
Public/__pycache__
Resource/__pycache__
StyleSheet/__pycache__
Template/__pycache__
Template/Common/__pycache__
Template/Examinee/__pycache__
Template/Manager/__pycache__
Template/Teacher/__pycache__
Tempo/__pycache__