desktop.ini
client-exam/.vs
client-exam/client-exam/.vs
client-exam/client-exam/bin
client-exam/client-exam/obj
client-exam/client-exam/Temp

client-exam/client-exam/output
client-exam/client-exam/app